@import "../../abstracts/mixins";
@import "../../abstracts/vars";
label {
    background: transparent;
    color: $text-basic;
}

input::-moz-focus-inner, button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

select {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    padding: 5px;
}
