@import "abstracts/vars";
@import "abstracts/mixins";

.c-statsPod {
  @include component-margins();

  &__wrapper {
    padding: rem-calc(32);
    padding-top: rem-calc(96);
    margin: 0;
    width: 100%;
    min-height: rem-calc(96);
    border: 2px solid $midGrey;
    border-radius: rem-calc(8);

    background-color: $white;
    background-size: 54px 54px;
    background-repeat: no-repeat;
    background-position: left 24px top 24px;
    background-image: url(/images/icon-stat-pie.svg);

    @include bp_min($tablet) {
      background-position: left 24px center;
      background-size: 64px 64px;
      padding-left: rem-calc(128);
      padding-top: rem-calc(32);
      min-height: rem-calc(112);
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .stat--dog & {background-image: url(/images/icon-stat-dog.svg);}
    .stat--human & {background-image: url(/images/icon-stat-human.svg);}
    .stat--area & {background-image: url(/images/icon-stat-area.svg);}
    .stat--pie & {background-image: url(/images/icon-stat-pie.svg);}
    .stat--monetary & {background-image: url(/images/icon-stat-monetary.svg);}

  }

  &__text {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: $font-bold;
    font-size: rem-calc(18);
    line-height: rem-calc(26);

    @include bp_min($tablet) {
      font-size: rem-calc(22);
      line-height: rem-calc(32);
    }
  }

}

@include bp_min($desktop) {
  .medium-4, .large-4, .medium-8, .large-8 {
    .c-statsPod__wrapper {
      padding: rem-calc(32 24 32 32);
      padding-left: rem-calc(112);
    }

    .c-statsPod__text {
      font-size: rem-calc(22);
    }
  }
}
