.row.column-splitter {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    &:before {
        display: table-cell;
    }
    >div {
        padding-left: 0;
        padding-right: 0
    }
}
