@import "abstracts/mixins";
@import "abstracts/vars";

ul.site-map,
ul.site-map + ul {
  @include component-margins();

  padding: 0 0 0 rem-calc(8);
  list-style-type: disc;
  margin: rem-calc(0 0 0 26);

  li {
      padding: rem-calc(0 0 0 14);
      margin: rem-calc(5 0);
      line-height: 1.5em;
  }

  > li {
    margin-top: rem-calc(20);
  }

  ul {
    margin: rem-calc(0 0 10 0);

    li {
      padding: rem-calc(0 0 0 24);
    }
  }

  ul li ul li {
    padding: rem-calc(0 0 0 20);
  }
}
