@import "abstracts/mixins";
@import "abstracts/vars";

.c-quote {
  @include component-margins();

  &__wrapper {
    margin: 0;
    padding: rem-calc(32 66);
    border-radius: rem-calc(8);
    background: $tintBlue;

    position: relative;
    font-size: rem-calc(18);
    line-height: rem-calc(26);

    @include bp_min($tablet) {
      font-size: rem-calc(20);
      line-height: rem-calc(32);
    }

    &:before, &:after {
      display: block;
      content: "";
      width: rem-calc(24);
      height: rem-calc(24);
      position: absolute;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &:before {
      background-image: url(/images/quote-open.svg);
      left: rem-calc(22);
      top: rem-calc(22);
    }

    &:after {
      background-image: url(/images/quote-closed.svg);
      right: rem-calc(22);
      bottom: rem-calc(22);
    }

  }

  &__text {
    font-weight: normal;
    font-family: $font-bold;
    margin: 0;
    padding: 0;
    color: $primary;
  }

  &__author {
    color: $primary;
    font-weight: normal;
    font-size: rem-calc(16);

    @include bp_min($tablet) {
      font-size: rem-calc(18);
    }

    margin-top: rem-calc(8);
  }

} // component.Quote
