@import "abstracts/mixins";
@import "abstracts/vars";

.c-imagePod {
  @include component-margins();

  &__image {
    margin: 0;
    padding: 0;

    img {
      display: block;
      border-radius: rem-calc(8);
    }
  }

  &__content {
    padding: 0;
    margin: rem-calc(16 0 0 0);
  }

  &__title {
    margin-bottom: rem-calc(8);
  }

}
